*{
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto 2rem;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0.4rem 0.9rem;

}
.nav--image-size{
    width: 2.3rem;
    height: 2.3rem;
}
.nav__search{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.nav__search-img{
    width: 1.7rem;
    height: 1.7rem;
}
.nav__search-input{
    width: 10rem;
    height: 1.5rem;
    margin: auto 0.1rem 0 1rem;
    border-radius: 4rem;
    border:0.1rem solid rgb(3, 161, 121);
    outline: none;
    padding-left: 0.9rem;
    background: none;
}
.nav__search-filter{
    width: 6rem;
    height: 1.5rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    background: none;
    color: rgb(3, 161, 121);
}
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0.9rem;
    margin: 0.9rem;
    border: 0.1rem solid rgb(0, 0, 0);
}
.products__prod{
    display: flex;
    margin: 0.1rem;
    border: 0.1rem solid rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
}
.products__prod-name{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.products__button-add{
    width: 6rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: blue;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
}
.cart{
    display: none;
}